/* section { */
    /* position: absolute; */
    /* bottom: 0; */
    /* width: 100%; */
/* } */
:root {
    --primary-white: #ffffff;
}

/* Do not remove */
header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 768px;
    margin: auto;
    padding: 1.75rem 0;
    color: var(--primary-white);
}

header nav ul li a {
    padding: .4rem .8rem;
    border-radius: 8px;
    transition: all .2s ease;
}

header nav ul li a:hover {
    color: rgba(255, 255, 255, .7);
}

header .logo {
    font-size: 150%;
}

header .logo a:hover {
    color: unset;
}

.navigation-container {
    display: none;
}

@media (max-width: 820px) {
    main {
        flex-direction: column
        ;
    }
} 

@media (max-width: 768px) {
    header {
        display: none;
    }

    .navigation-container {
        display: block;
    }
}

.container-btn {
    animation: fadeIn 0.5s ease-in-out;
    animation-fill-mode: forwards;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}


.generate-btn {
    display: flex;
    justify-content: center;
    color: #fff;
    padding: 1rem;
}

.generate-btn button {
    /* background-color: black; */
    padding: .4rem;
    border-radius: 8px;
}

.navigation-container nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .3rem .7rem;
}

.toggle .options-container {
    padding: .2rem;
    margin: .275rem 0;
}


.hide {
    display: none;
}
/* 
.generated-para {
    max-height: 70vh;
    overflow: scroll;
} */





